@charset "UTF-8";
/* Maps */
/* border-radius */
/* Mixins */ /* Placeholders */
.boxBotones, #boxContacto, footer, main, nav li, nav ul, .flexGridCell, header {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Variables */
/* Colores */
/* Otras */
/* Background Animation */
.bg {
  -webkit-animation: slide 3s ease-in-out 1 alternate;
          animation: slide 3s ease-in-out 1 alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-image: linear-gradient(-60deg, #3f4650 50%, #2a2e35 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.bg3 {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
/* FadeInDown Animation */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*Animación aumentar*/
@-webkit-keyframes aumentar {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.05, 1.05);
  }
}
@keyframes aumentar {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.05, 1.05);
  }
}
.animarHover:hover {
  -webkit-animation-name: aumentar;
  animation-name: aumentar;
}

/*Animación disminuir*/
@-webkit-keyframes disminuir {
  100% {
    transform: scale(1, 1);
  }
  0% {
    transform: scale(1.05, 1.05);
  }
}
@keyframes disminuir {
  100% {
    transform: scale(1, 1);
  }
  0% {
    transform: scale(1.05, 1.05);
  }
}
.animarHover:not(:hover) {
  -webkit-animation-name: disminuir;
  animation-name: disminuir;
}

/*Animación fadInLeft*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/*Animación fadeInRight*/
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/*Animación tada*/
@-webkit-keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

/*Animación zoomIn*/
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

/*Animación zoomInDown*/
@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
}

/*Animación HideOverflow*/
@-webkit-keyframes HideOverflow {
  0% {
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
@keyframes HideOverflow {
  0% {
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
.HideOverflow {
  -webkit-animation-name: HideOverflow;
  animation-name: HideOverflow;
}

/* Grid para Blog */
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  align-items: stretch;
  padding: 30px;
}
.grid > article {
  border: 1px solid #ccc;
}
.grid > article img {
  width: 100%;
}

.text {
  padding: 0 20px 20px;
}

.text > button,
.boxBotones input {
  margin-top: 10px;
  border: solid 1px #fff;
}

.boxBotones input {
  margin: 5px;
}

.text > button:hover,
.boxBotones input:hover {
  border: solid 1px #fff !important;
}

/* Pasos y Tablas para Guía */
.pasos {
  min-height: 155px;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  margin: 35px 5px 0;
  padding: 20px;
  border-radius: 15px;
}

.tablaGuia {
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 25px;
  border-collapse: separate;
  border-spacing: 15px;
}

.tablaGuia td,
.tablaGuia th {
  max-width: 75px;
}

.fullWidth {
  max-width: unset !important;
}

/* Media Queries */
@media (max-width: 1041px) {
  main {
    min-height: calc(100vh - 212px);
  }
}
@media (max-width: 992px) {
  .boxColumnas {
    flex-direction: column;
  }
  .grid {
    grid-template-columns: auto auto;
  }
  .pasos {
    min-height: unset;
  }
}
@media (max-width: 768px) {
  main {
    min-height: calc(100vh - 189px);
  }
  header {
    line-height: 0 !important;
  }
  .boxColumnas {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .columna {
    padding: 0px 105px 30px !important;
  }
  nav {
    height: 78px;
    width: 100%;
  }
  nav li {
    height: 50px !important;
    border-bottom: solid 1px grey;
  }
  nav ul {
    flex-direction: column;
    border: solid 1px grey;
  }
  #navMenu {
    display: none;
  }
  .pasos {
    margin: 15px 5px 0;
    padding: 0 10px 5px;
  }
  #expandir {
    display: block !important;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 39px 16px;
  }
  /*Para Mobile usamos CheckBox Hack, ya que no reconce Hover y en esta instancia no podemos utilizar JavaScript*/
  #toggle:checked ~ #navMenu {
    display: block;
  }
  #toggle:checked ~ #expandir {
    /*Estaba jugando con transform y el menú hamburguesa quedó como un signo "-", me gustó y lo dejé*/
    transform: rotateX(80deg);
  }
  #toggle:not(:checked) ~ #navMenu {
    display: none;
  }
  .bloqueImagenes img:nth-child(1) {
    display: none;
  }
  .bloqueImagenes img:nth-child(2) {
    width: 100%;
    height: unset;
  }
}
@media (max-width: 576px) {
  main {
    min-height: calc(100vh - 260px);
  }
  header {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
    justify-content: center;
  }
  .columna {
    padding: 0px 35px 30px !important;
  }
  .boton {
    padding: 5px 35px 5px 35px;
  }
  table {
    text-align: left;
  }
  table tr:nth-child(2) td:nth-child(6),
table tr:nth-child(3) td:nth-child(6),
table tr:nth-child(4) td:nth-child(6),
table th:nth-child(6),
table tr:nth-child(2) td:nth-child(5),
table tr:nth-child(3) td:nth-child(5),
table tr:nth-child(4) td:nth-child(5),
table th:nth-child(5) {
    display: none;
  }
  .grid {
    grid-template-columns: auto;
  }
  #boxContacto {
    padding: 20px 30px;
  }
}
@media (max-width: 472px) {
  main {
    min-height: calc(100vh - 270px);
    margin-top: -95px !important;
    padding-top: 95px !important;
  }
  #boxContacto {
    padding: 20px 20px;
  }
}
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  /* Deshabilitar selección de texto*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img,
a {
  /* Deshabilitar drag and drop de imagenes y enlaces */
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

b {
  color: rgb(216, 216, 216);
}

body {
  background-image: linear-gradient(-60deg, #3f4650 50%, #2a2e35 50%);
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #3f4650;
  box-shadow: 0 0 8px #000;
  color: #fff;
  z-index: 1;
}

.flexGridCell {
  flex-direction: column;
  width: 100%;
}

.logo {
  padding: 0;
}

h1 {
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

#expandir,
#toggle {
  /*CheckBox Hack*/
  display: none;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #3f4650;
}
nav li a {
  font-weight: 600;
  display: block;
  color: #fff;
  text-align: center;
  padding: 28px 16px;
  text-decoration: none;
}
nav li a:hover {
  text-shadow: 0 0 1px #add8e6, 0 0 1px #add8e6, 0 0 1px #add8e6, 0 0 2px #add8e6, 0 0 5px #add8e6, 0 0 10px #add8e6, 0 0 15px #add8e6;
}
nav li .active {
  text-shadow: 0 0 1px #add8e6, 0 0 1px #add8e6, 0 0 1px #add8e6, 0 0 2px #add8e6, 0 0 5px #add8e6, 0 0 10px #add8e6, 0 0 15px #add8e6;
}

main {
  flex-direction: column;
  min-height: calc(100vh - 194px);
  color: #b1b1b1;
  box-shadow: inset 0 0 8px #000000;
  margin-top: -77px;
  padding-top: 77px;
}
main img {
  filter: drop-shadow(0 0 8px #000);
}

.personajeIndex {
  max-width: 80px;
  margin: 10px;
  cursor: pointer;
}

.personajeDescargar {
  max-width: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

h3,
h5 {
  color: #fff;
  margin: 15px 0px;
}

.boxColumnas {
  display: flex;
  align-items: baseline;
  height: 100%;
}

.fila {
  width: 85%;
  margin: 20px;
}

.columna {
  padding: 0px 145px 30px;
  text-align: justify;
}

.columna h2,
.fila h2 {
  text-align: center;
  color: #fff;
  padding: 15px;
}

.columna li,
.fila li {
  margin: 10px 0px 0px 15px;
}

.sombra {
  filter: drop-shadow(0 0 8px #000);
}

.imgHover:hover {
  filter: drop-shadow(0 0 8px #add8e6);
  cursor: pointer;
}

.bloqueRedes {
  text-align: center;
}

.bloqueImagenes {
  text-align: center;
  margin-top: 15px;
}

.bloqueImagenes img {
  display: inline-block;
  height: 300px;
}

footer {
  text-align: center;
  background-image: linear-gradient(180deg, #3f4650, #25292e);
  color: #fff;
  height: 120px;
  width: 100%;
}
footer p {
  margin-bottom: 10px;
}

#mensaje {
  width: 253px;
}

#boxContacto {
  padding: 20px 40px;
  border-radius: 15px;
  margin: 25px;
  border: 1px solid #ccc;
}
#boxContacto textarea,
#boxContacto input {
  width: -webkit-fill-available;
}

.transicionBrillo {
  transition-property: box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}
.transicionBrillo:hover {
  box-shadow: 0 0 8px #add8e6;
}

button {
  transition: all 0.2s ease-in-out;
}
button:hover {
  transform: scale(1.01);
}

.paddingInput {
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
}

a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */